button.findGame {
	color: #eee;
	background-color: #333;
}
button.findGame:hover {
	color: #333;
	background-color: #eee;
}

.findGame label input {
	margin: 0 1em;
}

.directions ol {
	text-align: left;
}

.directions {
	max-width: 400px;
	margin: auto;
}